@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.bg-home-pages-cidades {
  background-image: url("/imgs/bg-home-pages.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}

.ideia-page-hero-1 {
  background-image: url("/imgs/bg-section-1.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.ideia-page-hero-2 {
  background-image: url("/imgs/bg-section-2.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
